In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [ ]:
ratings_sm_df = pd.read_csv("data/ratings_small.csv")
ratings_df = pd.read_csv("data/ratings.csv")

In [ ]:
ratings_sm_df.head()

In [ ]:
ratings_df.head()

In [ ]:
# # Define the columns to compare
# columns_to_compare = ["userId", "movieId", "rating", "timestamp"]

# # Merge the DataFrames based on these columns
# common_data = pd.merge(ratings_df, ratings_sm_df, on=columns_to_compare, how="inner")

# # Count the number of common rows
# num_common_rows = common_data.shape[0]

# print("Number of duplicates in df1 that are also found in df2 based on specified columns: ", num_common_rows)

In [10]:
# Display the first few rows of each DataFrame to understand their structure
print("ratings small:")
print(ratings_sm_df)

print("ratings:")
print(ratings_df)

ratings small:
        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]
ratings:
          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [12]:
common_columns = ['userId', 'movieId', 'rating']

# Merge the DataFrames to find duplicates
merged_df = pd.merge(ratings_df, ratings_sm_df, on=common_columns, how='inner')

In [18]:
# Check for duplicates and display them
duplicate_count = merged_df.shape[0]
print(f'Number of duplicates: {duplicate_count}')

if duplicate_count > 0:
    print('There are duplicates between the datasets.')
    print(merged_df)
else:
    print('There are no duplicates between the datasets.')

Number of duplicates: 1352
There are duplicates between the datasets.
      userId  movieId  rating  timestamp_x  timestamp_y
0          4     1097     5.0   1042667925    949778771
1          8      318     5.0   1013444101   1154464714
2          8     1210     4.0   1013442408   1154464769
3          8     1265     3.0   1013442825   1154465230
4          9      497     4.0   1061916288    938628777
...      ...      ...     ...          ...          ...
1347     665     4027     4.0   1449277126   1010197801
1348     667      345     5.0    925827634    847271720
1349     667      736     4.0    925827222    847271443
1350     668      593     5.0    833918976    993613478
1351     670      593     5.0   1444964576    938782234

[1352 rows x 5 columns]

In [21]:
# Identify common columns
common_columns = ['userId', 'movieId', 'rating']

# Merge the DataFrames with an indicator to identify the source of each row
merged_df = pd.merge(ratings_sm_df, ratings_df, on=common_columns, how='left', indicator=True)

# Filter to get rows that are only in ratings_sm_df
non_duplicates = merged_df[merged_df['_merge'] == 'left_only']

# Drop the '_merge' column as it is no longer needed
non_duplicates = non_duplicates.drop(columns=['_merge'])

# Display the non-duplicate rows
print(non_duplicates)

        userId  movieId  rating  timestamp_x  timestamp_y
0            1       31     2.5   1260759144          NaN
1            1     1029     3.0   1260759179          NaN
2            1     1061     3.0   1260759182          NaN
3            1     1129     2.0   1260759185          NaN
4            1     1172     4.0   1260759205          NaN
...        ...      ...     ...          ...          ...
99999      671     6268     2.5   1065579370          NaN
100000     671     6269     4.0   1065149201          NaN
100001     671     6365     4.0   1070940363          NaN
100002     671     6385     2.5   1070979663          NaN
100003     671     6565     3.5   1074784724          NaN

[98652 rows x 5 columns]

In [22]:
ratings_sm_df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]