In [1]:
import pandas as pd
df = pd.read_csv("data/tmdb_5000_credits.csv")

In [ ]:
df.head(10)

Adding a new line for Michael to check and approve as Pull Request.

In [2]:
## Michael - see new line of codes below
df.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000