# Parse ['keywords']

In [23]:
import pandas as pd
import ast


keywords_df = pd.read_csv("../../source_data/keywords.csv")

# Function to parse the string and extract names
def extract_names(keyword_string):
    # Safely evaluate the string to a Python object
    keyword_list = ast.literal_eval(keyword_string)
    # Extract names
    names = [keyword['name'] for keyword in keyword_list]
    return names

# Apply the function to the DataFrame
keywords_df['names'] = keywords_df['keywords'].apply(extract_names)

# Display the DataFrame
keywords_df.head(20)

,id,keywords,names
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[jealousy, toy, boy, friendship, friends, riva..."
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[board game, disappearance, based on children'..."
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[fishing, best friend, duringcreditsstinger, o..."
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[based on novel, interracial relationship, sin..."
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[baby, midlife crisis, confidence, aging, daug..."
5,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[robbery, detective, bank, obsession, chase, s..."
6,11860,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[paris, brother brother relationship, chauffeu..."
7,45325,[],[]
8,9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...","[terrorist, hostage, explosive, vice president]"
9,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[cuba, falsely accused, secret identity, compu..."
10,9087,"[{'id': 833, 'name': 'white house'}, {'id': 84...","[white house, usa president, new love, widower..."
11,12110,"[{'id': 3633, 'name': 'dracula'}, {'id': 11931...","[dracula, spoof]"
12,21032,"[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...","[wolf, dog-sledding race, alaska, dog, goose, ..."
13,10858,"[{'id': 840, 'name': 'usa president'}, {'id': ...","[usa president, presidential election, waterga..."
14,1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[exotic island, treasure, map, ship, scalp, pi..."
15,524,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...","[poker, drug abuse, 1970s, overdose, illegal p..."
16,4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...","[bowling, based on novel, servant, country lif..."
17,5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...","[hotel, new year's eve, witch, bet, hotel room..."
18,9273,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[africa, indigenous, human animal relationship..."
19,11517,"[{'id': 380, 'name': 'brother brother relation...","[brother brother relationship, subway, new yor..."