In [5]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import json
import re
import nltk
import ast

In [2]:
df = pd.read_csv("source_data/keywords.csv")
pd.set_option('display.max_colwidth', None)  # Display all column content

df.head()

,id,keywords
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]"
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]"

In [3]:
df.shape

(46419, 2)

**PARSE JSON INTO STRING FOR KEYWORDS**

In [ ]:
# if "keywords" in df.columns:
#     keyword = df.keywords.iloc[1]
#     keyword = keyword.replace("\'", "\"")
#     try:
#         y = json.loads(keyword)
#         print(y[0]["id"])
#         for item in y: 
#             print(item)
#     except json.JSONDecodeError as e:
#         pass

**Parsing Function**

In [ ]:
# def parse_keywords(keywords_str):
#     if isinstance(keywords_str, str): # Check if the input is a string
#         try:
#             keywords_str = keywords_str.replace("'", "\"") # Replace single quotes with double quotes
#             keywords = json.loads(keywords_str) # Load the JSON data
#             if isinstance(keywords, list): # Ensure the parsed JSON is a list
#                 keyword_names = [keyword.get("name") for keyword in keywords] # Extract keyword names
#                 return keyword_names
#         except (json.JSONDecodeError,TypeError, KeyError) as e: # Handle errors
#             pass
        
#         # Return an empty list if the value is not a valid string or JSON decoding fails
#         return "Problem identified"
    
# # Apply the function to the column
# df["parsed_keywords"] = df["keywords"].apply(parse_keywords)

In [ ]:
# df = df.drop(columns=["keywords"])

In [ ]:
# df.rename(columns={"parsed_keywords": "Keywords"}, inplace=True)

In [ ]:
# df.head(10)

**LEE's METHOD**

In [8]:

# Function to parse the string and extract names
def extract_names(keyword_string):
    # Safely evaluate the string to a Python object
    keyword_list = ast.literal_eval(keyword_string)
    # Extract names
    names = [keyword['name'] for keyword in keyword_list]
    return names

# Apply the function to the DataFrame
df['names'] = df['keywords'].apply(extract_names)

# Display the DataFrame
df.head(4)

,id,keywords,names
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]","[jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]","[board game, disappearance, based on children's book, new home, recluse, giant insect]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]","[fishing, best friend, duringcreditsstinger, old men]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]","[based on novel, interracial relationship, single mother, divorce, chick flick]"

**STEP 1: USE REGEX TO EXTRACT KEYWORDS**

In [9]:
import ast
import re

In [10]:
# Function to extract keywords from "names" column
def extract_keywords(keyword_str):
    # Convert the string representation of the list of dictionaries to an actual list of dictionaries
    keyword_list = ast.literal_eval(keyword_str)
    # Extract the "name" of each keyword
    return [keyword["name"] for keyword in keyword_list]

# Apply the function to extract keywords
df["keywords_extracted"] = df["keywords"].apply(extract_keywords)

**STEP 2: Count the occurrences of each keyword**

In [11]:
from collections import Counter

# Flatten the list of keywords and count the occurrences
all_keywords =  [keyword for sublist in df["keywords_extracted"] for keyword in sublist]
keyword_counts = Counter(all_keywords)

**STEP 3: Identify the Top 20 Most Used Keywords**

In [13]:
# Get the top 20 most common keywords
top_20_keywords = keyword_counts.most_common(20)
print(top_20_keywords)

[('woman director', 3115), ('independent film', 1930), ('murder', 1308), ('based on novel', 835), ('musical', 734), ('sex', 685), ('violence', 651), ('nudity', 636), ('biography', 629), ('revenge', 626), ('suspense', 590), ('love', 574), ('female nudity', 563), ('sport', 544), ('police', 454), ('teenager', 441), ('duringcreditsstinger', 440), ('sequel', 439), ('friendship', 411), ('world war ii', 394)]

In [14]:
# Convert to a DataFrame for better readability
top_20_df = pd.DataFrame(top_20_keywords, columns=["Keyword", "Count"])
print(top_20_df)

                 Keyword  Count
0         woman director   3115
1       independent film   1930
2                 murder   1308
3         based on novel    835
4                musical    734
5                    sex    685
6               violence    651
7                 nudity    636
8              biography    629
9                revenge    626
10              suspense    590
11                  love    574
12         female nudity    563
13                 sport    544
14                police    454
15              teenager    441
16  duringcreditsstinger    440
17                sequel    439
18            friendship    411
19          world war ii    394

**STEP 4: Create a function to check for the presence of a specific**

In [16]:
# Function to check if a specific keyword is in the "keywords" column
def contains_keyword(keyword_str, target_keyword):
    keyword_list = ast.literal_eval(keyword_str)
    keywords = [keyword["name"] for keyword in keyword_list]
    return target_keyword in keywords

# Target keyword
target_keyword = "woman director"

**STEP 5: Filter the DataFrame based on the presence of that keyword**

In [17]:
# Apply the function to create a boolean mask
df["contains_target"] = df["keywords"].apply(contains_keyword, target_keyword=target_keyword)

# Filter the DataFrame
filtered_df = df[df["contains_target"]]

**STEP 6: Display the IDs and rows where the keyword appears**

In [18]:
# Display the IDs and rows where the target keyword appears
filtered_df[["id", "keywords"]]

,id,keywords
17,5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'name': ""new year's eve""}, {'id': 616, 'name': 'witch'}, {'id': 622, 'name': 'bet'}, {'id': 922, 'name': 'hotel room'}, {'id': 2700, 'name': 'sperm'}, {'id': 12670, 'name': 'los angeles'}, {'id': 160488, 'name': 'hoodlum'}, {'id': 187056, 'name': 'woman director'}, {'id': 198129, 'name': 'episode film'}]"
26,9263,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, 'name': 'female friendship'}, {'id': 10683, 'name': 'coming of age'}, {'id': 170521, 'name': 'gynecologist'}, {'id': 170533, 'name': 'photocopier'}, {'id': 170539, 'name': 'truth or dare'}, {'id': 187056, 'name': 'woman director'}]"
38,9603,"[{'id': 1525, 'name': 'puberty'}, {'id': 6270, 'name': 'high school'}, {'id': 6664, 'name': 'make a match'}, {'id': 7208, 'name': 'spoiled child'}, {'id': 10199, 'name': 'gay interest'}, {'id': 11933, 'name': 'conflict'}, {'id': 187056, 'name': 'woman director'}]"
45,11861,"[{'id': 1334, 'name': 'wedding vows'}, {'id': 1459, 'name': 'marriage proposal'}, {'id': 2587, 'name': 'married couple'}, {'id': 5773, 'name': 'monogamy'}, {'id': 5999, 'name': 'advice'}, {'id': 6038, 'name': 'marriage'}, {'id': 9470, 'name': 'quilt'}, {'id': 9673, 'name': 'love'}, {'id': 33694, 'name': 'family holiday'}, {'id': 34094, 'name': 'extramarital affair'}, {'id': 164039, 'name': 'grandmother'}, {'id': 187056, 'name': 'woman director'}]"
48,8391,"[{'id': 1992, 'name': 'professor'}, {'id': 158718, 'name': 'lgbt'}, {'id': 187056, 'name': 'woman director'}]"
...,...,...
46349,149946,"[{'id': 187056, 'name': 'woman director'}]"
46350,61385,"[{'id': 187056, 'name': 'woman director'}]"
46356,64197,"[{'id': 187056, 'name': 'woman director'}]"
46361,100152,"[{'id': 187056, 'name': 'woman director'}]"
46371,258907,"[{'id': 14629, 'name': 'experimental film'}, {'id': 15216, 'name': 'avant-garde'}, {'id': 158718, 'name': 'lgbt'}, {'id': 187056, 'name': 'woman director'}]"

**ANOTHER METHOD: TEST**

**STEP 1: PARSE THE KEYWORDS IN "keywords_df"**

In [19]:
# Function to extract keywords from the "keywords" column
def extract_keywords(keyword_str):
    keyword_list = ast.literal_eval(keyword_str)
    return [keyword["name"] for keyword in keyword_list]

# Apply the function to extract keywords
df["Keywords"] = df["keywords"].apply(extract_keywords)

**STEP 2: USE REGEX TO FILTER THE KEYWORDS**

In [ ]:
# Flatten the keywords column for easier regex operations
keywords_flat = df.explode("Keywords")

# Define a regex pattern to filter keywords
pattern = r"\btoy\b" # Example pattern to filter the column containing "toy"

# Apply the regex pattern to filter keywords
filtered_keywords = keywords_flat[keywords_flat["Keywords"].str.contains(pattern, regex=True, case=False)]