In [12]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import json
import re
import nltk

In [13]:
df = pd.read_csv("source_data/keywords.csv")
pd.set_option('display.max_colwidth', None)  # Display all column content

df.head()

,id,keywords
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]"
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]"

In [14]:
df.shape

(46419, 2)

**PARSE JSON INTO STRING FOR KEYWORDS**

In [17]:
if "keywords" in df.columns:
    keyword = df.keywords.iloc[1]
    keyword = keyword.replace("\'", "\"")
    try:
        y = json.loads(keyword)
        print(y[0]["id"])
        for item in y: 
            print(item)
    except json.JSONDecodeError as e:
        pass

**Parsing Function**

In [18]:
def parse_keywords(keywords_str):
    if isinstance(keywords_str, str): # Check if the input is a string
        try:
            keywords_str = keywords_str.replace("'", "\"") # Replace single quotes with double quotes
            keywords = json.loads(keywords_str) # Load the JSON data
            if isinstance(keywords, list): # Ensure the parsed JSON is a list
                keyword_names = [keyword.get("name") for keyword in keywords] # Extract keyword names
                return keyword_names
        except (json.JSONDecodeError,TypeError, KeyError) as e: # Handle errors
            pass
        
        # Return an empty list if the value is not a valid string or JSON decoding fails
        return "Problem identified"
    
# Apply the function to the column
df["parsed_keywords"] = df["keywords"].apply(parse_keywords)

In [19]:
df = df.drop(columns=["keywords"])

In [20]:
df.rename(columns={"parsed_keywords": "Keywords"}, inplace=True)

In [21]:
df.head(10)

,id,Keywords
0,862,"[jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]"
1,8844,Problem identified
2,15602,"[fishing, best friend, duringcreditsstinger, old men]"
3,31357,"[based on novel, interracial relationship, single mother, divorce, chick flick]"
4,11862,"[baby, midlife crisis, confidence, aging, daughter, mother daughter relationship, pregnancy, contraception, gynecologist]"
5,949,"[robbery, detective, bank, obsession, chase, shooting, thief, honor, murder, suspense, heist, betrayal, money, gang, cat and mouse, criminal mastermind, cult film, ex-con, heist movie, one last job, loner, bank job, neo-noir, gun fight, crime epic]"
6,11860,"[paris, brother brother relationship, chauffeur, long island, fusion, millionaire]"
7,45325,[]
8,9091,"[terrorist, hostage, explosive, vice president]"
9,710,"[cuba, falsely accused, secret identity, computer virus, secret base, secret intelligence service, kgb, satellite, special car, cossack, electromagnetic pulse, time bomb, st. petersburg russia, ejection seat, red army]"