In [77]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import json
import re
import nltk

In [78]:
movies_df = pd.read_csv("source_data/movies_metadata.csv")

C:\Users\chanc\AppData\Local\Temp\ipykernel_14088\1223631877.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("source_data/movies_metadata.csv")

In [79]:
from pathlib import Path  
filepath = Path('../../edit_data/cleaned_data/movies.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
movies_df.to_csv(filepath)

In [80]:
new_df = pd.read_csv("../../edit_data/cleaned_data/movies.csv")
pd.set_option('display.max_columns', None)
new_df.head(2)

C:\Users\chanc\AppData\Local\Temp\ipykernel_14088\800739872.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_df = pd.read_csv("../../edit_data/cleaned_data/movies.csv")

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

**Deleting and Modyfying Columns**

In [81]:
new_df.drop(columns=["homepage", "poster_path","imdb_id","Unnamed: 0", "poster_path"], axis=1, inplace=True)

In [82]:
new_df.head(2)

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

Renaming Columns

In [83]:
new_df.rename(columns={"adult": "Adult", "belongs_to_collection": "Movie_Collection", "budget": "Budget", "genres": "Genres", "id": "ID", "original_language": "Original_Language", "original_title": "Original_Title", "overview": "Overview", "popularity": "Popularity", "production_companies": "Production_Companies", "production_countries": "Production_Countries", "release_date": "Release_Date", "revenue": "Revenue", "runtime": "Runtime", "spoken_languages": "Spoken_languages", "status":"Status", "tagline":"Tagline", "title":"Title", "video":"Video", "vote_average":"Ratings", "vote_count":"Voters_Count"},  inplace=True)

In [84]:
new_df.head()

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Production_Companies,Production_Countries,Release_Date,Revenue,Runtime,Spoken_languages,Status,Tagline,Title,Video,Ratings,Voters_Count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

**Parse JSON into String for Genres**

In [85]:
if "Genres" in new_df.columns:
    genre = movies_df.Genres.iloc[0]
    genre = genre.replace("\'", "\"")
    y = json.loads(genre)
    print(y[0]["id"])
    for item in y: 
        print(item)

AttributeError: 'DataFrame' object has no attribute 'Genres'

In [ ]:
def parse_genres(genre_str):
    genre_str = genre_str.replace("\'", "\"")
    genres = json.loads(genre_str)
    ids = [genre["id"] for genre in genres]
    names = [genre["name"] for genre in genres]
    return pd.Series([ids, names], index=["Id", "Genres"])

new_df[["Id", "Genres"]] = new_df["Genres"].apply(parse_genres)

In [ ]:
new_df = new_df.drop(columns=["Id"])

In [ ]:
new_df.head(2)

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Production_Companies,Production_Countries,Release_Date,Revenue,Runtime,Spoken_languages,Status,Tagline,Title,Video,Ratings,Voters_Count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

**Parse JSON into String for Movies Collection**

In [ ]:
if "Movie_Collection" in new_df.columns:
    movie_collection = new_df.Movie_Collection.iloc[0]
    movie_collection = movie_collection.replace("\'", "\"")
    y = json.loads(movie_collection)
    print(y)
    for item in y: 
        print(item)

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
id
name
poster_path
backdrop_path

In [ ]:
def parse_collection(collection_str):
    if isinstance(collection_str, str):
        try:
            if collection_str.count("{") > collection_str.count("}"):
                collection_str += "}"
            collection_str = collection_str.replace("\'", "\"")
            collection = json.loads(collection_str)
            if isinstance(collection, dict):
                id = collection.get("id")
                name = collection.get("name")
                poster_path = collection.get("poster_path")
                backdrop_path = collection.get("backdrop_path")
                return pd.Series([id, name, poster_path, backdrop_path], index=["Collection_id", "Collection_Name","Poster_Path", "Backdrop_Path"])
        except (json.JSONDecodeError, TypeError):
            pass
    return pd.Series([None, None, None, None], index=["Collection_id", "Collection_Name", "Poster_Path", "Backdrop_Path"])
    
new_df[["Collection_id", "Collection_Name","Poster_Path", "Backdrop_Path"]] = new_df["Movie_Collection"].apply(parse_collection)

In [ ]:
new_df = new_df.drop(columns=['Movie_Collection', 'Collection_id', 'Poster_Path', 'Backdrop_Path'])

In [ ]:
new_df.rename(columns={"Collection_Name": "Movie_Collection"}, inplace=True)

In [ ]:
new_df.head(2)

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Production_Companies,Production_Countries,Release_Date,Revenue,Runtime,Spoken_languages,Status,Tagline,Title,Video,Ratings,Voters_Count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

**Parse JSON into String for Production_Companies**

In [ ]:
if "Production_Companies" in new_df.columns:
    production_companies = new_df.Production_Companies.iloc[0]
    production_companies = production_companies.replace("\'", "\"")
    y = json.loads(production_companies)
    print(y)
    for item in y: 
        print(item)

[{'name': 'Pixar Animation Studios', 'id': 3}]
{'name': 'Pixar Animation Studios', 'id': 3}

In [ ]:
def parse_prod_companies(companies_str):
    if isinstance(companies_str, str):
        try:
            companies_str = companies_str.replace("\'", "\"")
            companies = json.loads(companies_str)
            if isinstance(companies, list):
                company_names = [company.get("name") for company in companies]
                company_ids = [company.get("id") for company in companies]
                return pd.Series([company_names,company_ids], index=["Company_Names", "Company_Ids"])
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    return pd.Series([None, None], index=["Company_Names", "Company_Ids"])
    
new_df[["Company_Names", "Company_Ids"]] = new_df["Production_Companies"].apply(parse_prod_companies)

In [ ]:
new_df = new_df.drop(columns=['Company_Ids', "Production_Companies"])

In [ ]:
new_df.rename(columns={"Company_Names":"Production_Companies"}, inplace=True)

In [ ]:
new_df.head()

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Production_Countries,Release_Date,Production_Companies,Revenue,Runtime,Spoken_languages,Status,Tagline,Title,Video,Ratings,Voters_Count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,[Pixar Animation Studios],373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,"[TriStar Pictures, Teitler Film, Interscope Co...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,"[Warner Bros., Lancaster Gate]",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,[Twentieth Century Fox Film Corporation],81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,"[Sandollar Productions, Touchstone Pictures]",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

**Parse JSON into String for Production_Country**

In [ ]:
if "Production_Countries" in new_df.columns:
    production_countries = new_df.Production_Countries.iloc[0]
    production_countries = production_countries.replace("\'", "\"")
    y = json.loads(production_countries)
    print(y)
    for item in y: 
        print(item)

[{'iso_3166_1': 'US', 'name': 'United States of America'}]
{'iso_3166_1': 'US', 'name': 'United States of America'}

In [ ]:
def parse_prod_countries(countries_str):
    if isinstance(countries_str, str):
        try:
            countries_str = countries_str.replace("\'", "\"")
            countries = json.loads(countries_str)
            if isinstance(countries, list):
                country_names = [country.get("name") for country in countries]
                iso_codes = [country.get("iso") for country in countries]
                return pd.Series([country_names,iso_codes], index=["Country_Names", "ISO_Codes"])
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    return pd.Series([None, None], index=["Country_Names", "ISO_Codes"])
    
new_df.loc[:, ['Country_Names', 'ISO_Codes']] = new_df['Production_Countries'].apply(parse_prod_countries)

In [ ]:
new_df = new_df.drop(columns=['Production_Countries', 'ISO_Codes'])

In [ ]:
new_df.rename(columns={"Country_Names":"Production_Country"}, inplace=True)

In [ ]:
new_df.head()

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Release_Date,Production_Companies,Revenue,Runtime,Spoken_languages,Status,Tagline,Title,Video,Ratings,Voters_Count,Production_Country
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,[Pixar Animation Studios],373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,[United States of America]
1,False,None,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"[TriStar Pictures, Teitler Film, Interscope Co...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,[United States of America]
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,"[Warner Bros., Lancaster Gate]",0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,[United States of America]
3,False,None,16000000,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,[Twentieth Century Fox Film Corporation],81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,[United States of America]
4,False,Father of the Bride Collection,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,"[Sandollar Productions, Touchstone Pictures]",76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[United States of America]

**Parse JSON into String for Spoken Languages**

In [ ]:
if "Spoken_languages" in new_df.columns:
    spoken_languages = new_df.Spoken_languages.iloc[0]
    spoken_languages = spoken_languages.replace("\'", "\"")
    y = json.loads(spoken_languages)
    print(y)
    for item in y: 
        print(item)

[{'iso_639_1': 'en', 'name': 'English'}]
{'iso_639_1': 'en', 'name': 'English'}

In [ ]:
def parse_spoken_languages(languages_str):
    if isinstance(languages_str, str):
        try:
            languages_str = languages_str.replace("\'", "\"")
            languages = json.loads(languages_str)
            if isinstance(languages, list):
                language_name = [language.get("name") for language in languages]
                iso_codes = [language.get("iso") for language in languages]
                return pd.Series([language_name,iso_codes], index=["Language_Name", "ISO_Codes"])
        except (json.JSONDecodeError, TypeError, KeyError) as e:
            pass
    return pd.Series([None, None], index=["Language_Name", "ISO_Codes"])
    
new_df.loc[:, ['Language_Name', 'ISO_codes']] = new_df['Spoken_languages'].apply(parse_spoken_languages)

In [ ]:
new_df = new_df.drop(columns=['Spoken_languages'])
new_df.rename(columns={"Language_Name":"Spoken_Languages"}, inplace=True)

In [ ]:
new_df = new_df.drop(columns=['ISO_codes'])

In [ ]:
new_df.head(2)

,Adult,Movie_Collection,Budget,Genres,ID,Original_Language,Original_Title,Overview,Popularity,Release_Date,Production_Companies,Revenue,Runtime,Status,Tagline,Title,Video,Ratings,Voters_Count,Production_Country,Spoken_Languages
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,[Pixar Animation Studios],373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0,[United States of America],[English]
1,False,None,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"[TriStar Pictures, Teitler Film, Interscope Co...",262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,[United States of America],"[English, Franais]"

**Rearranging order**

In [ ]:
new_df.columns

Index(['Adult', 'Movie_Collection', 'Budget', 'Genres', 'ID',
       'Original_Language', 'Original_Title', 'Overview', 'Popularity',
       'Release_Date', 'Production_Companies', 'Revenue', 'Runtime', 'Status',
       'Tagline', 'Title', 'Video', 'Ratings', 'Voters_Count',
       'Production_Country', 'Spoken_Languages'],
      dtype='object')

In [ ]:
new_df = new_df[["ID", "Original_Title", "Original_Language", "Spoken_Languages", "Budget", 'Revenue', 'Runtime', "Release_Date", 'Production_Companies','Production_Country','Popularity', 'Ratings', 'Voters_Count', 'Movie_Collection','Tagline', 'Title','Video','Overview', 'Genres']]

In [ ]:
new_df.head()

,ID,Original_Title,Original_Language,Spoken_Languages,Budget,Revenue,Runtime,Release_Date,Production_Companies,Production_Country,Popularity,Ratings,Voters_Count,Movie_Collection,Tagline,Title,Video,Overview,Genres
0,862,Toy Story,en,[English],30000000,373554033.0,81.0,1995-10-30,[Pixar Animation Studios],[United States of America],21.946943,7.7,5415.0,Toy Story Collection,NaN,Toy Story,False,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]"
1,8844,Jumanji,en,"[English, Franais]",65000000,262797249.0,104.0,1995-12-15,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],17.015539,6.9,2413.0,None,Roll the dice and unleash the excitement!,Jumanji,False,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]"
2,15602,Grumpier Old Men,en,[English],0,0.0,101.0,1995-12-22,"[Warner Bros., Lancaster Gate]",[United States of America],11.7129,6.5,92.0,Grumpy Old Men Collection,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,A family wedding reignites the ancient feud be...,"[Romance, Comedy]"
3,31357,Waiting to Exhale,en,[English],16000000,81452156.0,127.0,1995-12-22,[Twentieth Century Fox Film Corporation],[United States of America],3.859495,6.1,34.0,None,Friends are the people who let you be yourself...,Waiting to Exhale,False,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]"
4,11862,Father of the Bride Part II,en,[English],0,76578911.0,106.0,1995-02-10,"[Sandollar Productions, Touchstone Pictures]",[United States of America],8.387519,5.7,173.0,Father of the Bride Collection,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,Just when George Banks has recovered from his ...,[Comedy]

**Update Dtypes**

In [ ]:
new_df.dtypes

ID                       object
Original_Title           object
Original_Language        object
Spoken_Languages         object
Budget                   object
Revenue                 float64
Runtime                 float64
Release_Date             object
Production_Companies     object
Production_Country       object
Popularity               object
Ratings                 float64
Voters_Count            float64
Movie_Collection         object
Tagline                  object
Title                    object
Video                    object
Overview                 object
Genres                   object
dtype: object

In [86]:
import datetime

new_df['Release_Date'] = pd.to_datetime(new_df['Release_Date'], errors='coerce')
new_df['Budget'] = pd.to_numeric(new_df['Budget'], errors = 'coerce')
new_df['Popularity'] = pd.to_numeric(new_df['Popularity'], errors = 'coerce')

In [87]:
new_df['Budget'] = new_df['Budget'].astype(float)

In [88]:
new_df.dtypes

Adult                           object
Movie_Collection                object
Budget                         float64
Genres                          object
ID                              object
Original_Language               object
Original_Title                  object
Overview                        object
Popularity                     float64
Production_Companies            object
Production_Countries            object
Release_Date            datetime64[ns]
Revenue                        float64
Runtime                        float64
Spoken_languages                object
Status                          object
Tagline                         object
Title                           object
Video                           object
Ratings                        float64
Voters_Count                   float64
dtype: object

**Filter using Regex**

**What is Regex?** 

Regex is a sequence of characters that defines a search pattern. It is a powerful tool for pattern matching and text processing. In Python, regex is implemented in the re module. Regex patterns can be used to match, search, replace or extract specific text from a string. The basic syntax for a regex pattern in Python is as follows:

In [89]:
text_column = new_df["Tagline"]

In [90]:
pattern = r"expression"
match = text_column.str.match(pattern)

In [ ]:
new_df_filtered = new_df[match]